.UserOutput {
    width: 150px;
    padding: 16px;
    margin: 16px;
    border: 1px solid black;
    background-color: #5d2350;
    display: inline-block;
    font-size: 12px;
    border-radius: .2em;
    color: white;
}